
<footer class="mt-5">
<div class="text-center py-3 bg-danger">
    <a id="footerLogo"href="/">Reverb Mongo Scraper</a>
    developed by: <a id="profileLink" href="https://github.com/stevencmann2">Steven Mann</a>
  </div>
</footer>