<body>


<div class="row">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid text-center m-auto">
                <div class="container mt-3 pt-3 Lobster">
                    <h1 class="display-4 hText">Mongo Scraper</h1>
                    <p class="lead pText">Rolling Stone Magazine Edition</p>
                </div>
            </div>

        </div>
    </div>

{{!-- THIS PART IS FOR TESTING AND WILL BE GENREATED THROUGH THE FRONT END --}}

<div class="container">
{{!-- IF NO SCRAPES --}}
<div class="container mt-5 mb-5 text-center">
    <div class="alert alert-warning p-3 noArticles" role="alert">
  You don't appear to have any scraped articles yet! Click <a href="#" class="alert-link">here</a> to add articles
  or click <a href="/saved" class="alert-link">here</a> to visit your saved articles


</div>
</div>
{{!-- SCRAPES CARD --}}

<div class="card articleCard" >
    <div class="card-header">
  <h5>
        <a id="scrapedTitle">Article Title Link</a>
        
        <a class="btn btn-success float-right shadow-buttons">Save Article</a>
        
        </h5>
      
    </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>
</div>

</body>