<body >


<div class="row">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid text-center m-auto">
                <div class="container mt-3 pt-3 Lobster">
                    <h1 class="display-4 hText ">Saved Articles</h1>
                    <p class="lead pText">Your Saved Rolling Stone Articles</p>
                </div>
            </div>

        </div>
    </div>


<div class="container mt-5 saved-body">

<!-- Modal -->
<div class="modal" id="addNotesModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



</div>

</body>