<body >


<div class="row">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid text-center m-auto">
                <div class="container mt-3 pt-3 Lobster">
                    <h1 class="display-4 hText ">Saved Articles</h1>
                    <p class="lead pText">Your Saved Rolling Stone Articles</p>
                </div>
            </div>

        </div>
    </div>


<div class="container mt-5 saved-body">





</div>




<div class="modal fade" id="addNotesModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">PLACE THE ARTICLE HERE </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
          
          <ul id="savedNotes"style="list-style-type:none;"></ul>
          
          <small id="emailHelp" class="form-text text-muted">Note Title</small>
          <input id="noteTitle" size="51" name="note_title"><br>
        <textarea id="noteBox" rows="5" cols="50"></textarea>
        <small id="emailHelp" class="form-text text-muted">Add your notes in the boxes above.</small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="noteToDb">Add Notes</button>
      </div>
    </div>
  </div>
</div>

</body>