<body id="home-page">


<div class="row">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid text-center m-auto">
                <div class="container mt-3 pt-3 Lobster">
                    <h1 class="display-4 hText ">Saved Articles</h1>
                    <p class="lead pText">Your Saved Reverb Articles</p>
                </div>
            </div>

        </div>
    </div>
</body>