<body >


<div class="row">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid text-center m-auto">
                <div class="container mt-3 pt-3 Lobster">
                    <h1 class="display-4 hText ">Saved Articles</h1>
                    <p class="lead pText">Your Saved Reverb Articles</p>
                </div>
            </div>

        </div>
    </div>


<div class="container mt-5">

{{!-- IF NO SAVED ARTICLES....... APPENED TO THE DIV CONTAINER --}}
<div class="container mt-5 mb-5 text-center">
    <div class="alert alert-warning p-3 noArticles" role="alert">
  Mmmm ... you don't have any saved articles yet! Click <a href="/" class="alert-link">here</a> to browse through articles


</div>
</div>




{{!-- this is for saved articles.... append to the container div --}}

<div class="row m-auto">
    <div class="col-12">
    <div class="card articleCard" >
    <div class="card-header">
  <h5>
        <a id="scrapedTitle">Article Title Link</a>
        
        <a class="btn btn-danger float-right shadow-buttons ml-2">Delete From Saved</a>
         <a class="btn btn-primary float-right shadow-buttons">Article Notes</a>
        
        </h5>
      
    </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>
</div>
</div>



{{!-- ends here --}}
</div>

</body>