
body {
   background-color: lightseagreen;
}

.jumbotron-fluid{
    width: 100%;
    background-image: url("../images/reverb.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
