body {
    background-color: #03c2fc;
}

.btn-danger:hover {
    background-color: #43cc7a !important;
}

#logo {
    font-family: 'Lobster', cursive;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

}

.shadow-buttons{
    box-shadow: 0 8px 6px -6px black;
}

.jumbotron-fluid {
    width: 100%;
    height: 500px;
    ;
    background-image: url("../images/reverb.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 1px 1px;
    opacity: 0.9;
    z-index: -1;
    box-shadow: 0 8px 6px -6px black;


}

.Lobster {
    opacity: 1;
    z-index: 1;
    font-family: 'Lobster', cursive;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.hText {
    font-size: 8em;
}

.pText {
    font-size: 2em;
}


#footerLogo {
    font-family: 'Lobster', cursive;
    color: white;
    text-decoration: none;
}

#profileLink {
    color: white;
    text-decoration: none;
}

.noArticles {
    background-color: #ebbe0c;
    color: black;
    box-shadow: 0 8px 6px -6px black;

}

.articleCard{

    box-shadow: 0 8px 6px -6px black;
}

.card-header {
    background-color: #ebbe0c;
    color: white;
   
}

#scrapedTitle {
    font-size: 1.3em;
}


