body {
    background-color:#03c2fc;
}

.jumbotron-fluid {
    width: 100%;
    background-image: url("../images/reverb.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.Lobster {
    
    font-family: 'Lobster', cursive;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.hText {
    font-size: 8em;

}

